.slick-arrow.slick-next,
.slick-arrow.slick-prev
{
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    opacity: 50%;
}

.slick-next::before,
.slick-prev::before{
display:none;
}

.slick-prev{
    left:50px;
}

.slick-next{
    right: 50px;
}