.chat-content {
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
  }
  .chat-content li {
    margin-top: 10px;
  }
  .text-small {
    font-size: 2px;
    color: gray;
    margin-bottom: 0;
    /* display: none; */
  }

  .text-small1{
    font-size: 5px;
    display: none;
  }
  .chat-box {
    background: #eee;
    padding: 5px;
    border-radius: 5px;
    float: left;
  }
  .mine {
    float: right;
  }

  ul,li{
    list-style:none;
    width: fit-content;
    }

    * {
      padding: 0;
      margin-top: 0;
      box-sizing: border-box;
  }
  
  a {
      text-decoration: none;
  }

  .no-chatroom{
    margin-bottom:'150px'
  }
  
  .chat_span{
    display: block;
  }

    
  
  
  .wrap::-webkit-scrollbar {
      width: 20px;
  }
  
  .wrap::-webkit-scrollbar-thumb {
      background-color: #A0A5B2;
  }
  
  .wrap::-webkit-scrollbar-track {
      display: none;
      
  }
  
  .wrap::-webkit-scrollbar-button {
      display: none;
  }
  
  
  
  
  
  
  
  /* 프로필 이미지 크기 조정
   */
   .wrap .chat .icon {
      position: relative;
      overflow: hidden;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #eee;
  }
  
  
  /* 모든 채팅메시지 칸 크기 조절
   */
   .wrap .chat .textbox {
      position: relative;
      display: inline-block;
      max-width: calc(100% - 70px);
      padding: 10px;
      margin-top: 7px;
      font-size: 20px;
      border-radius: 10px;
  }
  
  
  
  
  /* 채팅메시지 칸에 붙은 before 꼬랑지 크기 조절
   */
   .wrap .chat .textbox::before {
      position: absolute;
      display: block;
      top: 0;
      font-size: 1.5rem;
  }
  
  /* 남 채팅이 남 채팅인 것인지 알수있게 살짝 왼쪽으로 삐져나옴
   */.wrap .ch1 .textbox::before {
      left: -15px;
      content: "◀";
      color: #ddd;
  }
  
  /* 내채팅은 남들 채팅 반대편에 나오게 출력 */
  .wrap .ch2 {
      flex-direction: row-reverse;
  }
  
  /* 모든 채팅이 가운데 쏠리지 않으며 이름과 시간이 채팅 메시지 칸 처음부터 시작
   */
   .wrap .chat {
      display: flex;
      align-items: flex-start;
      padding: 20px;
  }
  
  
  /* 채팅창 배경색과 채팅치는 칸 배경색 구분
   */
   .wrap {
      height: 1000px;
      padding: 40px 0;
      background-color: #A8C0D6;
      overflow-y: scroll;
  }
  
  /* 내 채팅이 내 채팅인 것인지 알 수 있게 살짝 오른쪽으로 삐져나옴
   */
  .wrap .ch2 .textbox::before {
      right: -15px;
      content: "▶";
      color: #F9EB54;
  }
  
  /* 남이 친 채팅 메시지 배경색
   */ 
  .wrap .ch1 .textbox {
      margin-left: 20px;
     background-color: #ddd;
      white-space: pre-line;
  }
  
  /*     내가 친 채팅 메시지 노란 배경색
   */  
  .wrap .ch2 .textbox {
      margin-right: 20px;
    background-color: #F9EB54; 
      white-space: pre-line;
  }